footer {
  background-color:  #FFC8B7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 70px; */

}
a{
  margin-left: 5px;
  color: black;

}
img{
  margin-left: 5px;
}
.topofooter{
  padding-top: 40px;
}
.insta{

margin-right: 5px;
}
.twit{
  margin-left: 5px;
}



